{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "uc/agent-header/macro.njk" import ucAgentHeader %}

{% set containerClasses = "govuk-width-container--uc" %}

{% block header %}

{{
ucAgentHeader({
    "serviceName": "Universal Credit",
    "serviceUrl": "#",
    "classes": 'uc-agent-header--sticky',
    "navigation": [
    {
        "href": "#",
        "text": "To-do list"
    },
    {
        "href": '#',
        "text": "Claimants"
    },
    {
        "href": '#',
        "text": "Colleagues"
    },
    {
        "href": '#',
        "text": "Teams"
    },
    {
        "href": '#',
        "text": "Telephone ID check",
        "attributes": {
            "rel": "noopener noreferrer"
        }
    },
    {
        "href": '#',
        "text": "Diary",
        "opensInNewWindow": true,
        "attributes": {
            "rel": "noopener noreferrer"
        }
    }
    ],
    "profileName": "Joe Bloggs",
    "action": "Sign out",
    "actionurl": "#"
})
}}
{% endblock %}




{% block footer %}
{{
    dwpFooter({
        containerClasses: "govuk-width-container--uc",
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "",
                text: "Accessibility statement"
            },
            {
                href: "",
                text: "Privacy"
            }
            ]
        }
    }) 
}}
{% endblock %}