{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "uc/claimant-header/macro.njk" import ucClaimantHeader %}

{% block header %}
{{ 
    ucClaimantHeader({
        "serviceName": "Universal Credit",
        "serviceUrl": "/",
        "profileName": "Joe Bloggs",
        "action": "Sign out",
        "actionUrl": "#"
    })
}}
{% endblock %}

{% block beforeContent %}
{% if backLinkUrl %}
    {{ 
        govukBackLink({
            text: "Back",
            href: backLinkUrl
        }) 
    }}
{% endif %}
{% endblock %}

