{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "uc/claimant-header/macro.njk" import ucClaimantHeader %}

{% block header %}
{{
    ucClaimantHeader({
        "serviceName": serviceName,
        "serviceUrl": "/",
        "profileName": "Joe Bloggs",
        "action": "Sign out",
        "actionUrl": "#"
    })
}}
{% endblock %}

{% block beforeContent %}
{% if section %}
    {{
        ucClaimantNavigation({
            attributes: {
                "aria-label": "Claimant primary"
            },
            "items": [
            {
                "href": "#",
                "text": "Home",
                "active": true if section === "home"
            },
            {
                "href": "#",
                "text": "To-do list",
                "active": true if section === "todo"
            },
            {
                "href": "#",
                "text": "Journal",
                "active": true if section === "journal"
            }
            ]
        })
    }}
{% endif %}

{% if backLinkUrl %}
    {{
        govukBackLink({
            text: "Back",
            href: backLinkUrl
        })
    }}
{% endif %}



{% endblock %}
