{% extends "layouts/uc-agent.njk" %}

{% set pageName ="Find a claimant" %}

{% block content %}
        <h1 class="govuk-heading-xl">
            Find a claimant
        </h1>

        <form method="post" action="#">
        {{
            govukInput({
                label: {
                    text: "Name"
                },
                classes: "govuk-!-width-one-half",
                id: "name",
                name: "name"
            })
        }}

        {{
            govukInput({
                label: {
                    text: "Year of birth (optional)"
                },
                classes: "govuk-!-width-one-quarter",
                id: "yob",
                name: "yob"
            })
        }}

        {{
            govukInput({
                label: {
                    text: "Postcode (optional)"
                },
                classes: "govuk-!-width-one-quarter",
                id: "postcode",
                name: "postcode"
            })
        }}

        {{
            govukSelect({
                classes: "govuk-!-width-one-third",
                id: "location",
                name: "location",
                label: {
                    text: "Location"
                },
                items: [
                    {
                    value: "all",
                    text: "All"
                    }
                ]
            })
        }}

        {{
            govukButton({
                text: "Search"
            })
        }}
        </form>

        {% include "partials/agent/feedback.njk" %}
{% endblock %}
